@import url("//code.cdn.mozilla.net/fonts/fira.css");

body {
    background: #fff;
    background-color: #fff;
}

.mussel {
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #444;
}

.mussel h1, .mussel h2, .mussel h3, .mussel h4, .mussel h5, .mussel h6 {
    margin: 0 0 20px 0;
    color: #444;
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word;
}

.mussel h1 {
    font-size: 3.77em;
}

.mussel h2 {
    font-size: 2.11em;
}

.mussel h3 {
    font-size: 1.55em;
}

.mussel h4 {
    font-size: 1em;
}

.mussel h1 {
    text-shadow: none;
}

.mussel pre {
    margin-top: 0;
    margin-bottom: 16px;
    background-color: #eee;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px
}

.mussel code {
    padding: 2px 5px 3px;
    border: 1px solid #f7f7f7;
    border-radius: 3px
    font-family: 'Fira Mono', monospace;
}

.mussel p {
    margin: 20px 0;
    line-height: 1.3;
}

.mussel ol, .mussel dl, .mussel ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.mussel ol {
    list-style-type: decimal;
}

.mussel ul {
    list-style-type: disc;
}

.mussel ul ul {
    list-style-type: square;
}

.mussel ul ul ul {
    list-style-type: circle;
}

.mussel ul ul, .mussel ul ol, .mussel ol ol, .mussel ol ul {
    display: block;
    margin-left: 40px;
}

